/*css 전제적용*/
.txt-hide{
    display: inline-block;
    position:absolute;
    overflow:hidden;
    width:1px;
    height:1px;
    border:none;
    clip-path:inset(50%);
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    line-height: 20px;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
p,h1{
    margin: 0;
}
button:not(.map button), .downloadButton{
    background-color: #D97652;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 29px;
    border: 0;
    border-radius: 40px;
}

/*css 전체적용*/
/*헤더*/
/*배너*/
header{
    display: flex;
    justify-content: center;
    background-color:#F2E9D8;
}
header .box-header{
    flex-basis: 1278px;
    /*공간을 위해서 padding을 준다.*/
    padding: 26px 0 262px;
    background: url("img/boxCat.png") bottom right no-repeat;
}
.hoduLogo{
    width: 130px;
    height: 40px;
    margin:5px 0 0 0;
}
.bannerNav{
    float: right;
}
.navList{
    display: flex;
    align-items: center;
    gap: 30px;
}
.bannerNav .navList li:last-child{
    margin-left: 19px;
}

/*다운로드 소개*/
header .box-header h1{
    margin-top:231px;
    font-size: 48px;
    line-height:60px;
}
header .box-header p{
    max-width: 420px;
    margin:40px 0;
}
/*메인*/
/*호두소개*/
main{
    position: relative;
    max-width: 1278px;
    margin:80px auto -100px;
}
.contHoduInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 120px 0;
    gap:20px;
}
.hoduInfo{
    flex-basis: 510px;
}
.hoduInfo p{
    font-weight: 400;
    font-size: 16px;
}
.hoduInfo h1{
    margin-bottom: 30px;
    font-size:36px;
    line-height:45px;
}
.hoduInfoImg{
    flex-basis: 660px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px rgb(0,0,0,0.25);
}

/*고양이 사진 모음*/
.contCatList{
    text-align: center;
    padding-bottom: 80px;
    margin-bottom: 88px;
    border-bottom: 1px solid #C4C4C4;;
}
.catListInfo{
    margin-bottom: 88px;
}
.catListInfo h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #D97652;
    margin-bottom: 40px;
}
.catListInfo p{
    font-size: 16px;
    font-weight: 400;
}
.catListInfo p strong{
    color: #D97652;
}
.catImgList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:72px;
}
.moreCatImgList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 1200px;
    gap:50px;
    overflow-y: scroll;
}
.catImg{
    width: 378px;
    height:378px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgb(0,0,0,0.25);
}
.showMore{
    margin-top: 100px;
    gap:28px;
}
.showMore p{
    margin-bottom:28px;
    font-size: 24px;
    line-height: 30px;
    font-weight:700;
}
.showMoreButton:hover{
    transform: translateY(3px);
}
/*맵*/
.contMap{
    margin-bottom: 80px;
}
.locationInfo h1{
    font-size: 36px;
    line-height: 45px;
}
.locationInfo p{
    margin: 20px 0 48px;
    font-weight: 500;
    font-size: 16px;
    color: #606367;
}
.mapWrap{
    position:relative;
    overflow:hidden;
    height:520px;
    border-radius: 12px;
}
.map{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}
.radius_border{border:1px solid #919191;border-radius:5px;}
.custom_zoomcontrol {position:absolute;top:50px;right:10px;width:50px;height:100px;overflow:hidden;z-index:1;background-color:#f5f5f5;}
.custom_zoomcontrol span {display:block;width:50px;height:50px;text-align:center;cursor:pointer;}
.custom_zoomcontrol span img {width:20px;height:20px;margin:15px 0;border:none;}
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}

/*구독 컴포넌트*/
.subscribeComponent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 58px;
    background-color: #263140;
    border-radius: 30px;
    color:white;
}
.subscribeInfo{
    flex-basis: 471px;
}
.subscribeInfo h1{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 18px;
    line-height: 45px;
}
.subscribeInfo p{
    font-weight: 400;
    font-size: 14px;
}
.subscribeInput{
    flex-basis: 530px;
    height: 60px;
    background-color: white;
    border-radius: 60px;
    padding: 5px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mailImg{
    margin: 0 16px 0 22px;
}
.subscribeInput input{
    width:100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    color:#767676;
    border: none;
}
/*밑에 고양이 사진*/
footer::before{
    content:'';
    display: block;
    height: 340px;
    background: url("img/underCat.png") center/cover no-repeat;
}
/*위로 올라가기 버튼*/
.upToButton{
    /*이미지 정가운데*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 19px 24px;
    opacity: 80%;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    position: fixed;
    bottom:0;
    right:0;
}
.upToButton:hover img{
    content: url("img/actUpToscroll.png");
}
/*푸터*/
.box-footer{
    display: flex;
    justify-content: space-between;
    max-width: 1278px;
    margin: 0 auto;
    padding: 45px 0;
}
.apps{
    display: flex;
    gap:20px;
}
.circleButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: #F29D52;
    border-radius: 50%;
}
.circleButton img{
    width: 15px;
    height: 19px;
}
/*모달*/

.contModal{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 60px 108px 40px;
    text-align: center;
    border:none;
    border-radius: 30px;
    background: url("img/modalBackground.png") center/cover no-repeat;
}
.modalCat{
    width: 110px;
    margin-bottom: 24px;
}
.contModal h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: #D97652;
}
.contModal p{
    font-size: 14px;
    font-weight: 400;
    margin: 12px 0 38px;
}